<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
        />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <% for (var css in htmlWebpackPlugin.files.css) { %>
        <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" />
        <% } %>
        <link href="https://playentry.org/lib/entry-tool/dist/entry-tool.css" rel="stylesheet"/>
        <link href="https://playentry.org/lib/entry-lms/dist/assets/app.css" rel="stylesheet"/>
        <style>
            .entryScene, #workspace, .entryPlayground, #entryCategoryTab, .entryCategoryListWorkspace, .blockMenuContainer, .entryContainerListWorkspace, .entryContainerListElementWorkspace{
                background-color: whitesmoke;
            }
            .entryBoard, .selectedObject, .entryObjectRotationWrapperWorkspace{
                background-color: white !important;
            }
        </style>
    </head>

    <body style="background-color: whitesmoke;">
        <div style="background-color: whitesmoke; height: 5%;">
            <img src="http://enturl.me/2i" height="90%" style="margin-left: 15px; margin-top: 5px; margin-bottom: 5px;">
            <input style="border: 1px; border-color: black; color: white; background-color: #12b500; font-size: 16px; border-radius: 10px; width: 250px; height: 34px; position: absolute; top: 2.5%; margin-top: -17px; margin-left: 10px;" id="title" placeholder=" 제목을 입력하세요">
            <button style="border: 0px; color: white; background-color: #12b500; font-size: 16px; border-radius: 10px; width: 100px; height: 34px; position: absolute; top: 2.5%; margin-top: -17px; margin-left: 200px;" id="download">저장</button>
            <button style="border: 0px; color: white; background-color: #12b500; font-size: 16px; border-radius: 10px; width: 52px; height: 34px; position: absolute; top: 2.5%; margin-top: -17px; margin-left: 330px;" onclick="changeWorkspaceMode('block')">블록</button>
            <button style="border: 0px; color: white; background-color: #12b500; font-size: 16px; border-radius: 10px; width: 72px; height: 34px; position: absolute; top: 2.5%; margin-top: -17px; margin-left: 400px;" onclick="changeWorkspaceMode('python')">파이썬</button>
            <a id="save" style="border: 0px; color: white; background-color: #12b500; font-size: 16px; border-radius: 10px; width: 72px; height: 34px; position: absolute; top: 2.5%; margin-top: -17px; margin-left: 500px;" download="project.wcp">PC에 저장</a>
        </div>
        <div id="workspace"></div>

        <!--language-->
        <script src="../extern/lang/ko.js"></script>

        <script type="text/javascript" src="https://playentry.org/lib/PreloadJS/lib/preloadjs-0.6.0.min.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/EaselJS/lib/easeljs-0.8.0.min.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/SoundJS/lib/soundjs-0.6.0.min.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/SoundJS/lib/flashaudioplugin-0.6.0.min.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/lodash/dist/lodash.min.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/jquery-ui/ui/minified/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/velocity/velocity.min.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/codemirror/lib/codemirror.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/codemirror/addon/hint/show-hint.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/codemirror/addon/lint/lint.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/codemirror/addon/selection/active-line.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/codemirror/mode/javascript/javascript.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/codemirror/addon/hint/javascript-hint.js"></script>
        <script type="text/javascript" src="https://playentry.org/js/jshint.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/fuzzy/lib/fuzzy.js"></script>
        <script type="text/javascript" src="https://playentry.org/js/textmode/python/python.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/entry-js/extern/util/filbert.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/entry-js/extern/util/CanvasInput.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/entry-js/extern/util/ndgmr.Collision.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/entry-js/extern/util/handle.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/entry-js/extern/util/bignumber.min.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/socket.io-client/socket.io.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/react/react.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/react/react-dom.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/entry-lms/dist/assets/app.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/literallycanvas-mobile/lib/js/literallycanvas.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/entry-tool/dist/entry-tool.js"></script>

        <script>
            (function () {
                var textFile = null,
                makeTextFile = function (text) {
                    var data = new Blob([text], {type: 'text/plain'});

                    // If we are replacing a previously generated file we need to
                    // manually revoke the object URL to avoid memory leaks.
                    if (textFile !== null) {
                      window.URL.revokeObjectURL(textFile);
                    }

                    textFile = window.URL.createObjectURL(data);

                    return textFile;
                };


                var create = document.getElementById('download'),
                    textbox = document.getElementById('title');

                create.addEventListener('click', function () {
                    var link = document.getElementById('save');
                    link.href = makeTextFile(textbox.value);
                }, false);
            })();
        </script>

        <script src="../extern/util/static.js"></script>
        <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
        <% } %>

        <script>
            function changeWorkspaceMode(mode) {
                const option = {};

                if (mode === 'block') {
                    option.boardType = Entry.Workspace.MODE_BOARD;
                    option.textType = -1;
                } else {
                    option.boardType = Entry.Workspace.MODE_VIMBOARD;
                    option.textType = Entry.Vim.TEXT_TYPE_PY;
                    option.runType = Entry.Vim.WORKSPACE_MODE;
                }

                const workspace = Entry.getMainWS();

                if (workspace) {
                    workspace.setMode(option);
                } else {
                    console.error('entry workspace not found!');
                }
            };
        </script>
        <!--main script-->
        <script>
            window.PUBLIC_PATH_FOR_ENTRYJS = 'lib/entry-js/dist/';
            $(document).ready(function() {
                var initOption = {
                    type: 'workspace',
                    textCodingEnable: true,
                };
                Entry.init(document.getElementById('workspace'), initOption);
                Entry.loadProject();
            });
        </script>
    </body>
</html>
